RewriteEngine On  
RewriteBase /  
RewriteRule ^index\.php$ - [L]  
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule . /index.php [L]  
RewriteRule ^wallpaper-(\w+)-(\w+)\.html$  wallpaper.php?d=$1&t=$2